/* Markdown styles */
cpp {
  color: lightblue;
  /* background-color: grey; */
  /* this doesn't maintain angular brackets*/
}

cloud {
  color: lightcoral;
}

golang {
  /* color: #00ADD8; /* gopher-blue blue */
  /* color: lightgreen; */
  color: #5dc9e2; /* gopher light-blue */
}
